body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.container {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

div{
    margin: 20px;
}

button {
    background-color: #b379ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

